/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Inahbitent home logo */
.site-branding{
	img{
		max-height: 33px;
	}
}
/* Menus */
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		font-family: $font__header;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		text-transform: uppercase;
		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: $color__green-brand;
		&:hover{
			color: $color__purple-brand;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}


.site-header{
	border-bottom: 1px solid $color__grey-border;
	position: fixed;
	width: 100%;
	background-color: $color__white-header;
	z-index: 10;
	max-height: 50px;
	height: 50px;
	.flex-container-no-wrap{
		align-items: center;
	}
	.container-fluid{
		padding: 5px 0;
	}
	.main-navigation{
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.search-form{
		display: inline-block;
		fieldset{
			padding: 0;
			border: none;
			margin-left: 15px;
		}
		label{
			&:before{
				font-family: FontAwesome;
				content: "\f002";
				color: $color__green-brand;
				
			}
			&:hover:before{
				cursor: pointer;
			}
		}
		input[type=search] {
			width: 0;
			border: none;
			background-color: transparent;
			-webkit-transition: width 0.4s ease-in-out;
			transition: width 0.4s ease-in-out;
		}
		input[type=search]:focus {
				width: 200px;
				outline: none;
		}
		.search-submit{
			display: none;
		}
	}
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		li{
			padding-left: 15px;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
