/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* ---------- Content layout ----------*/
body{
  .site-content{
    overflow: auto;
    padding-top: 48px;
  }
  textarea,input{
    background-color: $color__grey-textarea;
    resize: none;
  }
  input[type=submit]{
    background: $color__green-brand;
    border: none;
    border-radius: 0;
    color: $color__white-text;
    box-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px 20px;
    font-family: $font__header;
  }
  iframe{
    width: 100%;
    height: 300px;
  }
  &:not(.home):not(.page-template-about){
    .site-content{
      display: flex;
      flex-wrap: nowrap;
      max-width: 1120px;
      margin: 0 auto;
    }
    .content-area{
      padding: 40px 40px 0 0;
      flex: 0 0 70%;
      border-right: 1px solid $color__grey-border;
    }
    .widget-area{
      flex: 0 0 30%;
      padding: 40px 0 0 40px;
    }
  }
}

/* ---------- Journal Section ----------*/
.blog,.single-post,.archive{
  .entry-header{
    position: relative;
    img{
      width: 100%;
    }
    .entry-title{
      position: absolute;
      top: 0;
      background-color: $color__green-brand;
      padding: 10px 20px;
      margin-top: 40px;
      max-width: 75%;
      color:$color__white-text;
      font-size: 2.1rem;
    }
    .entry-meta{
      position: absolute;
      right: 0;
      bottom: 8px;
      background-color: $color__green-brand;
      padding: 5px 15px;
      text-transform: uppercase;
      color: $color__white-text;
      font-family: $font__header;
    }
    a{
      color: $color__white-text;
      text-decoration: none;
      &:hover{
        color: $color__yellow-brand;
      }
    }
  }
  .entry-footer{
    a{
      color:$color__green-brand;
      text-decoration: none;
      &:hover{
        color:$color__text-main;
      }
    }
    span{
      margin-right: 20px;
    }
  }
}

.blog{
  .post{
    margin-bottom: 80px;
  }
}

/* ---------- Comment Section ----------*/
.comments-area{
  label{
    text-transform: uppercase;
  }
  a{
    color:$color__green-brand;
    text-decoration: none;
    &:hover{
      color:$color__text-main;
    }
  }
  .comment-form-author{
    margin-right: 1%;
  }
  .comment-form-author,.comment-form-email{
    width: 49%;
    display: inline-block;
    label{
      display: block;
    }
    input{
      width: 100%;
    }
  }
  .comment-form-url{
    width: 100%;
    display: inline-block;
    label{
      display: block;
    }
    input{
      width: 100%;
    }
  }
}
