/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* ---------- Content layout ----------*/
body{
  .site-content{
    overflow: auto;
  }
  textarea,input{
    background-color: $color__grey-textarea;
    resize: none;
  }
  input[type=submit]{
    background: $color__green-brand;
    border: none;
    border-radius: 0;
    color: $color__white-text;
    box-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px 20px;
    font-family: $font__header;
    text-shadow: none;
    &:hover{
      text-shadow: none;
      box-shadow: none;
      background-color: darken($color__green-brand,10%);
    }
  }
  iframe{
    width: 100%;
    height: 300px;
  }
  .social-media-btn{
    background-color: transparent;
    border:1px solid $color__purple-brand;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    padding: 15px 20px;
    font-size: 1rem;
    margin-right: 10px;
    .fa{
      font-size: 1.1rem;
    }
    &:hover{
      background-color: $color__green-brand;
      color: $color__white-text;
      border:1px solid $color__green-brand;
    }
  }
  &:not(.home):not(.page-template-about):not(.single-product):not(.single-adventure):not(.post-type-archive-product):not(.tax-product-type):not(.post-type-archive-adventure){
    .site-content{
      display: flex;
      flex-wrap: nowrap;
      padding-top: 50px;
      max-width: 1120px;
      margin: 0 auto;
    }
    .widget-area{
      flex: 0 0 30%;
      border-left: 1px solid $color__grey-border;
    }
  }
}

/* ---------- Journal, Single post, Archive and error404 Section ----------*/
.blog,.single-post,.archive,.error404{
  &:not(.post-type-archive-product):not(.tax-product-type):not(.post-type-archive-adventure){
    .content-area{
      padding: 40px 40px 40px 0;
      flex: 0 0 70%;
    }
    .entry-header{
      position: relative;
      img{
        width: 100%;
      }
      .entry-title{
        position: absolute;
        top: 0;
        background-color: $color__green-brand;
        padding: 10px 20px;
        margin-top: 40px;
        max-width: 75%;
        color:$color__white-text;
        font-size: 2.1rem;
      }
      .entry-meta{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $color__green-brand;
        padding: 5px 15px;
        text-transform: uppercase;
        color: $color__white-text;
        font-family: $font__header;
      }
      a{
        color: $color__white-text;
        text-decoration: none;
        &:hover{
          color: $color__yellow-brand;
        }
      }
    }
    .entry-content{
      a{
        display: inline-block;
        color:$color__text-main;
        text-decoration: none;
        font-family: $font__header;
        font-size: 1rem;
        margin-top: 20px;
        padding: 5px 20px;
        font-weight: 400;
        border: 1px solid black;
        &:hover{
          background-color: $color__green-brand;
          color: $color__white-text;
          border: 1px solid $color__green-brand;
        }
      }
    }
    .entry-footer{
      margin-bottom: 30px;
      a{
        color:$color__green-brand;
        text-decoration: none;
        &:hover{
          color:$color__text-main;
        }
      }
      span{
        margin-right: 20px;
      }
    }
  }
}

.blog,.archive{
  .post{
    margin-bottom: 80px;
  }
}
.page{
  &:not(.home):not(.page-template-about){
    .content-area{
      padding: 40px 40px 40px 0;
      flex: 0 0 70%;
    }
  }
}

/* ---------- Archive (Category,Month) Section ----------*/
.archive{
  .page-header{
    border-bottom: 1px solid $color__grey-border;
    margin-bottom: 40px;
  }
}

/* ---------- Shop archive/taxanomy and Adventure archive Section ----------*/
.post-type-archive-product,.tax-product-type,.post-type-archive-adventure{
  .site-content{
    padding-top: 50px;
    max-width: 1120px;
    margin: 0 auto;
  }
  .content-area{
    padding: 40px 0;
  }
  .page-header{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: dotted 2px $color__grey-border;
    h1{
      font-size: 2.3rem;
      margin-bottom: 30px;
    }
    .flex-container-no-wrap{
      max-width: 400px;
      margin: 0 auto;
    }
    a{
      color:$color__green-brand;
      text-decoration: none;
      font-family: $font__header;
      font-size: 1.2rem;
      &:hover{
        color:$color__text-main;
      }
    }
  }
  .flex-item-25{
    max-width: 25%;
  }
  .product-thumbnail{
    overflow: hidden;
    height: 250px;
    position: relative;
    img{
      position: absolute;
      top: 50%;
      right:50%;
      max-height: 250px;
      width: auto;
      max-width: none;
      transform: translate(50%,-50%);
    }
  }
  .product-title-section{
    border: 1px solid $color__grey-border;
    border-top-width: 5px;
    margin-bottom: 40px;
    padding: 10px;
    h2{
      font-size: 16px;
      position: relative;
      text-align: center;
      font-weight: 300;
      span:first-child{
        position: absolute;
        left: 0;
        background-color: $color__white-text;
        padding-right: 2px;
      }
      span:last-child{
        position: absolute;
        right: 0;
        background-color: $color__white-text;
        padding-left: 2px;
      }
    }
  }
}

/* ---------- Adventure archive/single Section ----------*/
.post-type-archive-adventure{
  .adventure-journal{
    position: relative;
    margin-bottom: 30px;
  }
  .journal-title{
    position: absolute;
    top:0;
    left: 0;
    overflow: auto;
    padding: 40px;
  }
  img{
    filter: brightness(60%);
  }
  h2{
    margin: 10px 0 30px 0;
    font-size: 2.5rem;
    font-weight: 400;
    a{
      color:$color__white-text;
      text-decoration: none;
      font-family: $font__header;
      &:hover{
        color:$color__orange-brand;
      }
    }
  }
  .entry-button{
    color:$color__white-text;
    text-decoration: none;
    font-family: $font__header;
    font-size: 1rem;
    padding: 5px 20px;
    font-weight: 400;
    border: 1px solid white;
    display: inline-block;
    &:hover{
      background-color: $color__green-brand;
      color: $color__white-text;
      border: 1px solid $color__green-brand;
    }
  }
}

/* ---------- Home Section ----------*/
.home{
  .home-hero{
    background: linear-gradient(rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-product-terms,.home-journal-post,.home-adventure-post{
    padding: 40px 0;
    h2{
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 60px;
    }
  }
  .home-product-terms{
    .product-term-name{
      text-align: center;
      padding: 10px;
      border:1px solid $color__grey-border;
      border-top-width: 5px;
      overflow: auto;
      img{
        max-width: 70px;
        margin: 0 auto;
      }
      a{
        background-color: $color__green-brand;
        padding: 10px 15px;
        display: inline-block;
        color: $color__white-text;
        text-decoration: none;
        &:hover{
          background-color: darken($color__green-brand,10%);
        }
      }
      &:hover{
        border-color: $color__orange-brand;
        cursor: pointer;
      }
    }
  }
  .home-journal-post{
    h3{
      margin: 10px 0 30px 0;
      a{
        color:$color__green-brand;
        text-decoration: none;
        font-family: $font__header;
        font-size: 1.4rem;
        &:hover{
          color:$color__text-main;
        }
      }
    }
    .journal-thumbnail{
      position: relative;
      height: 250px;
      overflow: hidden;
      img{
        position: absolute;
        top: 50%;
        right: 50%;
        max-width: none;
        max-height: 250px;
        width: auto;
        transform: translate(50%,-50%);
      }
    }
    .entry-header{
      overflow: auto;
      border: 1px solid $color__grey-border;
      border-top-width: 5px;
      padding: 20px;
      .entry-meta{
        p{
          margin: 0 0 10px 0;
          font-size: 0.8rem;
        }
      }
    }
    .entry-button{
      color:$color__text-main;
      text-decoration: none;
      font-family: $font__header;
      font-size: 1rem;
      padding: 5px 20px;
      font-weight: 400;
      border: 1px solid black;
      display: inline-block;
      &:hover{
        background-color: $color__green-brand;
        color: $color__white-text;
        border: 1px solid $color__green-brand;
      }
    }
  }
  .home-adventure-post{
    .journal-grid-container{
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .adventure{
      position: relative;
      overflow: hidden;
      margin: 0;
      img{
        filter: brightness(60%);
      }
    }
    .adventure-thumbnail{
      position: relative;
      a{
        color:$color__white-text;
        text-decoration: none;
        font-family: $font__header;
        &:hover{
          color:$color__orange-brand;
        }
      }
      .entry-button{
        color:$color__white-text;
        text-decoration: none;
        font-family: $font__header;
        font-size: 1rem;
        padding: 5px 20px;
        font-weight: 400;
        border: 1px solid white;
        display: inline-block;
        &:hover{
          background-color: $color__green-brand;
          color: $color__white-text;
          border: 1px solid $color__green-brand;
        }
      }
    }
    .journal-header{
      position: absolute;
      top:0;
      left: 0;
      padding: 20px;
    }
    .adventure:nth-child(1){
      grid-row-start: span 2;
      height: 540px;
      margin-right: 15px;
      h3{
        font-size:2.5rem;
      }
      img{
        object-fit: cover;
        height: 540px;
        
      }
    }
    .adventure:nth-child(2){
      grid-column-start: span 2; 
      grid-row-start: span 1;
      height: 262.5px;
      margin-bottom: 15px;
      h3{
        font-size:2.2rem;
      }
      img{
        object-fit: cover;
        height: 262.5px;
      }   
    }
    .adventure:nth-child(3){
      height: 262.5px;
      margin-right: 15px;
      h3{
        font-size:1.5rem;
      }
      img{
        object-fit: cover;
        height: 262.5px;
      }      
    }
    .adventure:nth-child(4){
      height: 262.5px;
      h3{
        font-size:1.5rem;
      }
      img{
        object-fit: cover;
        height: 262.5px;
      }      
    }
    .adventure-button{
      color:$color__white-text;
      text-decoration: none;
      font-family: $font__header;
      font-size: 1.3rem;
      padding: 5px 20px;
      margin-top: 20px;
      font-weight: 400;
      display: inline-block;
      background-color: $color__green-brand;
      &:hover{
        background-color: darken($color__green-brand,10%);
        color: $color__white-text;
      }
    }
  }
}

/* ---------- About Section ----------*/
.page-template-about{
  .custom-hero{
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }
  .entry-title{
    color:$color__white-text;
    font-size: 42px;
  }
  .entry-content{
    max-width: 800px;
    margin: 0 auto;
  }
  h2{
    text-align: center;
    color:$color__purple-brand;
    font-size: 32px;
  }
}
.single-adventure{
  .entry-hero{
    height: 100vh;
    img{
      object-fit: cover;
      height: 100vh;
    }
  }
  .entry{
    max-width: 800px;
    margin: 60px auto;
  }
  .entry-meta{
    p{
      font-family: $font__header;
      font-size: 1.2rem;
    }
  }
}
/* ---------- Single product Section ----------*/
.single-product{
  .site-content{
    margin: 0 auto;
    max-width: 1120px;
    padding-top: 52px;
  }
  .content-area{
    margin-top: 3em;
  }
  .product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5rem;
  }
  .entry-header{
    flex: 0 0 48%;
  }
  .entry-content{
    flex: 0 0 48%;
    margin-top: 0;
    h1{
      margin: 0;
      color:$color__orange-brand;
      font-size: 2.2rem;
    }
  }
  .entry-price{
    font-family: $font__header;
    font-size: 28px;
    margin: 0;
  }
}

/* ---------- Comment Section ----------*/
.comments-area{
  margin-top: 60px;
  label{
    text-transform: uppercase;
  }
  a{
    color:$color__green-brand;
    text-decoration: none;
    &:hover{
      color:$color__text-main;
    }
  }
  .comment-form-author{
    margin-right: 1%;
  }
  .comment-form-author,.comment-form-email{
    width: 49%;
    display: inline-block;
    label{
      display: block;
    }
    input{
      width: 100%;
    }
  }
  .comment-form-url{
    width: 100%;
    display: inline-block;
    label{
      display: block;
    }
    input{
      width: 100%;
    }
  }
  .comment-list{
    padding: 0;
    margin: 0 0 30px 0;
    .comment{
      padding: 30px 0;
      border-top:1px solid $color__grey-border;
    }
    .comment:first-child{
      border: none;
    }
    .children{
      padding: 30px 0 0 0;
      .comment{
        padding: 30px 0;
        border-top:1px solid $color__grey-border;
      }
      .comment:first-child{
        border: none;
      }
    }
  }
  .comment-body{
    display: flex;
    .comment-author-avatar{
      flex: 0 0 10%;
    }
    .comment-content{
      flex: 0 0 90%;
      padding-left: 20px;
    }
    .avatar{
      border-radius: 50%;
    }
    .comment-author{
      font-weight: 700;
    }
    .comment-metadata{
      color:$color__medium-grey-brand;
    }
  }
}

/* ---------- 404 Section ----------*/
.error404{
  fieldset{
    margin: 0 0 50px 0;
    padding: 0;
    border: none;
    button{
      display: none;
    }
  }
}

.search{
  .page-header{
    overflow: auto;
    border-bottom: 1px solid $color__grey-border;
  }
  .content-area{
    padding: 40px 40px 40px 0;
    flex: 0 0 70%;
  }
  .hentry{
    margin: 40px 0;
  }
  .entry-title{  
    font-size: 1.7rem;
    a{
      color: $color__green-brand;
      text-decoration: none;
      &:hover{
        color: $color__purple-brand;
      }
    }
  }
  .entry-summary{
    a{
      display: inline-block;
      color:$color__text-main;
      text-decoration: none;
      font-family: $font__header;
      font-size: 1rem;
      margin-top: 20px;
      padding: 5px 20px;
      font-weight: 400;
      border: 1px solid black;
      &:hover{
        background-color: $color__green-brand;
        color: $color__white-text;
        border: 1px solid $color__green-brand;
      }
    }
  }
}