/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget{
	margin-bottom: 40px;
	h2{
		text-transform: uppercase;
	}
	p{
		display: flex;
		align-items: center;
		.fa{
			min-width: 30px;
			line-height: 1.5;
		}
		a{
			color: $color__green-brand;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		&:last-child{
			align-items: flex-start;
		}
	}
	.day-of-week{
		font-weight: 700;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			a{
				color:$color__green-brand;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}